fastapi
uvicorn[standard]
python-multipart

sqlalchemy
pydantic
pydantic-settings

python-dotenv

google-genai
langchain-core
langchain-community

sentence-transformers
faiss-cpu
rank-bm25

PyMuPDF
python-docx