fastapi
uvicorn[standard]
python-multipart

sqlalchemy
pydantic
pydantic-settings

python-dotenv

google-generativeai
langchain-core
langchain-community

sentence-transformers
faiss-cpu
rank-bm25

PyMuPDF
python-docx

numpy
pandas
scikit-learn
torch
transformers